/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/




.img-fluid{
    border: 3px solid var(--logo-green-20w);
    border-radius: 10px;
}

.vision-mission{
    border: 1px solid var(--logo-green-20w);
    border-radius: 10px;
    background-color: var(--logo-green-80w); 
}



