/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
  /* --primary-colors --*/
  --white-ish:#F9F7F7;
  --light-gray: #DBE2EF;
  --bluish-gray: #e4e9f1;
  --blue-light:#669bbc;
  --blue-medium: #0077b6;
  --blue-medium-rgb: rgb(0, 119, 182);
  --blue-dark:#0f4c75;
  --dark-b: #003566;
  --gray-black: #415a77;
  --darker-b:#1B262C;



  /*monarch-blue*/
  --monarch-blue:#003057;
  --monarch-blue-10w:#1a4568;
  --monarch-blue-20w:#335979;
  --monarch-blue-80w:#b3c1cd;
  --monarch-blue-90w:#e6eaee;

  --card-bakground:#dee6ed;


  /*logo-blue*/
  --logo-blue:#2B2D64;
  --logo-blue-30w: #6b6c93;


  /*logo-green*/
  --logo-green:#3B5455;
  --logo-green-20w:#627677;
  --logo-green-80w:#d8dddd;
  --logo-green-40b:#233233;


  /*logo-red*/
  --logo-red:#D91D28;
  --logo-red-dark:#9f0a12;
  --logo-red-60w:#f0a5a9;




  /* https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e */
}

html, body {
    height:100%;
}

/* Use the root variable for primary color in your CSS */
body {
  background-color: var(--monarch-blue-90w);

   font-family: "Open Sans", sans-serif; 
  /*font-family: 'Ubuntu Sans', sans-serif;*/
  /*color: var(--gray-black);*/
  /* padding-bottom: 600px; */  
}

nav {
	background-color:var(--monarch-blue);
    /* height: 5rem; */
}

.navbar-brand{
	color:var(--monarch-blue-80w) !important;
	font-size:1.75rem !important;
    font-weight: 700;
}

.nav-link{
	color:var(--light-gray) !important;
}

.navbar-expand-lg{
    font-size:1.2rem !important;
}


/* buttons */




#header_middle_letter{
    color: var(--monarch-blue-80w);
}

a {
  color:var(--monarch-blue-80w);
}

a:hover {
  color: var(--logo-blue-30w) !important;
   text-decoration: none !important; 
  /* font-size:1.3rem !important; */
}

h1, h2, h3, h4, h5, h6 {
   /*font-family: "Raleway", sans-serif;*/
   
   /*font-family: 'Ubuntu Sans', sans-serif;*/
}

h2{
  color: var(--monarch-blue-20w);
  font-weight: 600;
}

h3{
  color: var(--monarch-blue-20w);
  font-weight: 600;
}

h4{
  color: var(--monarch-blue);
}

/*h3{
  color: var(--monarch-blue);
}*/

h5{
  color: var(--logo-green-40b);
}


/* footer */

.footer-lemos {
  background-color: var(--monarch-blue);
  font-size: smaller;
}

.footer-lemos-nifme {
    background-color: #1B262C;
    font-size: smaller;
  }

.footer-icons{
    color: var(--monarch-blue-80w);   
}

.footer-icons:hover{
    color: var(--logo-blue-30w);   
}


#page-container {
    position: relative;
    /* min-height: 94%; */
    min-height:93vh;
  }
  
#content-wrap {
    /* padding-bottom: 100px;    Footer height */
    padding-bottom: 2.5rem;    /*Footer height*/
    /* padding-top: 5rem; */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 100px;            Footer height */
    height: 2.5rem;            /*Footer height*/
    
}


.dropdown-menu{
  background-color: var(--logo-green);
  color:var(--monarch-blue-80w);
}

.dropdown-item{
  background-color: var(--logo-green);
  color:var(--monarch-blue-80w);
}

.dropdown-item:hover{
  background-color: var(--logo-green-20w);
  color:var(--logo-green-40b) !important;
}

.carousel-caption{
/*    background-color: var(--logo-green-20w);
    opacity: 0.75;*/
    background-color:rgba(0,0,0,0.4);

}

.carousel-item img {
  width: 100vw;
  height: 92vh;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

.h3-carousal{
  color:var(--monarch-blue-90w);
}

@media (max-width: 767px) {
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


.line {
  flex-grow: 1;
  height: 1px;
  background-color: var(--monarch-blue-80w);  
}


.i-icons{
    /* color:var(--logo-green-40b); */
    color: var(--monarch-blue-20w);
}

/*.i-icons:hover{
     color:var(--logo-green-40b); 
    color: red !important; 
}*/

.btn-outline-primary-{
  /*color: red !important;*/
  background-color: var(--logo-green);
  color:var(--monarch-blue-80w);
  border:none;
}

.btn-outline-primary-:hover {
/*    background-color: var(--logo-green-20w);
    color:var(--logo-green-40b) !important;*/
    /*border: 1px solid red;*/
    border:none;
  background-color: var(--logo-green-20w);
  color:var(--logo-green-40b) !important;
   text-decoration: none !important; 
  }

.btn-outline-primary-:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
  }
  
a{
    color:var(--logo-green-40b);
}




  /* Medium and above (>= 768px): Show border between columns */
  @media (min-width: 768px) {
    .custom-border:not(:last-child) {
      border-right: 1px solid #ccc; /* Add right border between columns */
    }
  }

  /* Small screens (< 768px): Show border below each column */
  @media (max-width: 767.98px) {
    .custom-border {
      border-bottom: 1px solid #ccc; /* Add bottom border for each column */
    }

    /* Optional: Remove bottom border on the last column */
    .custom-border:last-child {
      border-bottom: none;
    }
  }


#collapseContent-8{
  border-radius: 20px;
}